public/wordpress/html/wp-config.php
public/wordpress/html/wp-content/plugins
public/wordpress/html/wp-content/languages
public/wordpress/html/wp-content/uploads/*
# docker volume
public/db
public/wordpress/html/.env
public/wordpress/html/wp-content/themes/document/assets/prepros.config
