@import "_bootstrap";
@import "_initial";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
/* boot strap5 sync
@media (max-width: 575px) {width: 90%;}
@media (min-width: 576px) and (max-width: 768px) {width: 400px;}
@media (min-width: 769px) and (max-width: 992px) {width: 500px;}
@media (min-width: 993px) and (max-width: 1200px) {width: 600px;}
@media (min-width: 1201px) {width: 700px;}
*/

/*
xs <576px
sm ≥576px
md ≥768px
lg ≥992px
xl ≥1200px
*/



@mixin set-serif {
  font-family: Georgia, serif !important;
	letter-spacing: 0.7px;
	color: #444;
}
@mixin set-sans-serif {
  font-family: 'Hiragino Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	letter-spacing: 0.8px;
	font-weight: 200;
	color: #333;
}
@mixin monoc {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

@keyframes fade{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}
body {
	/* 読み込み時のfade */
	animation-name: fade;
	animation-duration: 1s;
	animation-iteration-count: 1;
	@include set-sans-serif();

	.topbar {
		height: 5px;
		width: 100%;
		background: #333;
		font-size:5px;
		@media (max-width: 575px) { background: #880000; }
		@media (min-width: 576px) and (max-width: 768px) { background: #c0c0c0; }
		@media (min-width: 769px) and (max-width: 992px) { background: #333; }
		@media (min-width: 993px) and (max-width: 1200px) { background: #c0c0c0; }
		@media (min-width: 1201px) { background: #880000; }	
	}

	.navbar {
		background: #ff0;
		h1.site-title {
			font-weight: 300;
			margin-top: -6px;
			.site-icon {
				width: 30px;
				height: 30px;
				margin-top: -5px;
			}
		}
		.navbar-collapse {
			ul {
				li.nav-item, li.nav-link{
					font-weight: 400;
					a:link, a:visited,a:active,a:hover {
						font-weight: 400 !important;
						color: #333;
						.site-icon {
							width: 30px;
							height: 30px;
							margin-top: -5px;
						}
					}
				}
			}
		}
	}

	.top-banner {
		margin: 0;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    -ms-overflow-style: none;
    height: 600px;
    z-index: 100;
		@media (max-width: 575px) {height: 400px;}
		@media (min-width: 576px) and (max-width: 768px) {height: 600px;}
		@media (min-width: 769px) and (max-width: 992px) {height: 600px;}
		@media (min-width: 993px) and (max-width: 1200px) {height: 600px;}
		@media (min-width: 1201px) {height: 800px;}
		.top-banner-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			width: 100%;
			z-index: -1;
			overflow-x: hidden;
			-ms-overflow-style: none;
			-o-object-fit: cover;
			object-fit: cover;
		}
		@media (max-width: 575px) {
			.bnr-xs {display: block;}
			.bnr-sm {display: none;}
			.bnr-md {display: none;}
			.bnr-lg {display: none;}
		}
		@media (min-width: 576px) and (max-width: 768px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: block;}
			.bnr-md {display: none;}
			.bnr-lg {display: none;}
		}
		@media (min-width: 769px) and (max-width: 992px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: none;}
			.bnr-md {display: block;}
			.bnr-lg {display: none;}
		}
		@media (min-width: 993px) and (max-width: 1200px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: none;}
			.bnr-md {display: none;}
			.bnr-lg {display: block;}
		}
		@media (min-width: 1201px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: none;}
			.bnr-md {display: none;}
			.bnr-lg {display: block;}
		}

		.top-banner-text {
			position: absolute;
			letter-spacing: 2px;
			top:0;
			left:0;
			z-index: 	1000;
			padding: 100px;
			.top-banner-title {
				font-family: 'Roboto', sans-serif;
			}
			.top-banner-subtitle {
				font-family: 'Roboto', sans-serif;
			}
		}
		@media (max-width: 575px) {
			.top-banner-text {
				color: #fff;
				padding: 50px;
				.top-banner-title {
					font-size: 60px;
				}
				.top-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 20px;
					font-size: 18px;
				}
			}
		}
		@media (min-width: 576px) and (max-width: 768px) {
			.top-banner-text {
				color: #fff;
				.top-banner-title {
					font-size: 80px;
				}
				.top-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 30px;
					font-size: 23px;
				}
			}
		}
		@media (min-width: 769px) and (max-width: 992px) {
			.top-banner-text {
				color: #fff;
				.top-banner-title {
					font-size: 120px;
				}
				.top-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 30px;
					font-size: 23px;
				}
			}
		}
		@media (min-width: 993px) and (max-width: 1200px) {
			.top-banner-text {
				color: #fff;
				.top-banner-title {
					font-size: 120px;
				}
				.top-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 30px;
					font-size: 23px;
				}
			}
		}
		@media (min-width: 1201px) {
			.top-banner-text {
				color: #fff;
				.top-banner-title {
					font-size: 120px;
				}
				.top-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 30px;
					font-size: 23px;
				}
			}
		}
	}


	.bread-crumb {
		// background: #ff0;
		ul {
			font-size: 12px;
			list-style: none;
			li {
				display: inline-block;
				a:link,a:visited {
					color: #00608d;
					text-decoration: none;
				}
			}
			.crumblink::after {
				content: " > ";
			}
		}
	}

	.top-container {
		// background: #880000;
		.middle-banner {
			margin: 0;
			padding: 0;
			a:link,a:visited,a:active,a:hover {
				text-decoration: none;
			}
			a:active,a:hover {
				opacity: 0.8;
			}
			.middle-banner-image {
				width: 100%;
				vertical-align: bottom;
			}
			.middle-title {
				text-align:center;
				font-weight: 300;
				color: #333;
				font-family: 'Roboto', sans-serif;
				@media (max-width: 575px) {
					margin:20px;
					font-size: 52px;
				}
				@media (min-width: 576px) and (max-width: 768px) {
					margin:20px 20px;
					font-size: 68px;
				}
				@media (min-width: 769px) and (max-width: 992px) {
					margin:50px;
					font-size: 32px;
				}
				@media (min-width: 993px) and (max-width: 1200px) {
					margin:50px;
					font-size: 52px;
				}
				@media (min-width: 1201px) {
					margin-top:70px;
					font-size: 72px;
				}
			}
		}
	}

	.doc-banner {
		margin: 0;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    -ms-overflow-style: none;
    height: 400px;
    z-index: 100;
		@media (max-width: 575px) {height: 400px;}
		@media (min-width: 576px) and (max-width: 768px) {height: 400px;}
		@media (min-width: 769px) and (max-width: 992px) {height: 400px;}
		@media (min-width: 993px) and (max-width: 1200px) {height: 400px;}
		@media (min-width: 1201px) {height: 400px;}
		.doc-banner-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			width: 100%;
			z-index: -1;
			overflow-x: hidden;
			-ms-overflow-style: none;
			-o-object-fit: cover;
			object-fit: cover;
		}
		@media (max-width: 575px) {
			.bnr-xs {display: block;}
			.bnr-sm {display: none;}
			.bnr-md {display: none;}
			.bnr-lg {display: none;}
		}
		@media (min-width: 576px) and (max-width: 768px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: block;}
			.bnr-md {display: none;}
			.bnr-lg {display: none;}
		}
		@media (min-width: 769px) and (max-width: 992px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: none;}
			.bnr-md {display: block;}
			.bnr-lg {display: none;}
		}
		@media (min-width: 993px) and (max-width: 1200px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: none;}
			.bnr-md {display: none;}
			.bnr-lg {display: block;}
		}
		@media (min-width: 1201px) {
			.bnr-xs {display: none;}
			.bnr-sm {display: none;}
			.bnr-md {display: none;}
			.bnr-lg {display: block;}
		}

		.doc-banner-text {
			position: absolute;
			letter-spacing: 2px;
			top:0;
			left:0;
			z-index: 	1000;
			padding: 80px;
			.doc-banner-title {
				font-family: 'Roboto', sans-serif;
			}
			.doc-banner-subtitle {
				font-family: 'Roboto', sans-serif;
			}
		}
		@media (max-width: 575px) {
			.doc-banner-text {
				color: #fff;
				padding: 50px;
				.doc-banner-title {
					font-size: 60px;
				}
				.doc-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 20px;
					font-size: 18px;
				}
			}
		}
		@media (min-width: 576px) and (max-width: 768px) {
			.doc-banner-text {
				color: #fff;
				padding: 25px 60px;
				.doc-banner-title {
					font-size: 80px;
				}
				.doc-banner-subtitle {
					font-size: 36px;
				}
				.commerce {
					margin-top: 30px;
					font-size: 20px;
				}
			}
		}
		@media (min-width: 769px) and (max-width: 992px) {
			.doc-banner-text {
				color: #fff;
				padding: 25px 60px;
				.doc-banner-title {
					font-size: 100px;
				}
				.doc-banner-subtitle {
					font-size: 40px;
				}
				.commerce {
					margin-top: 20px;
					font-size: 20px;
				}
			}
		}
		@media (min-width: 993px) and (max-width: 1200px) {
			.doc-banner-text {
				color: #fff;
				padding: 30px 60px;
				.doc-banner-title {
					font-size: 120px;
				}
				.doc-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 30px;
					font-size: 23px;
				}
			}
		}
		@media (min-width: 1201px) {
			.doc-banner-text {
				color: #fff;
				padding: 30px 60px;
				.doc-banner-title {
					font-size: 120px;
				}
				.doc-banner-subtitle {
					font-size: 48px;
				}
				.commerce {
					margin-top: 30px;
					font-size: 23px;
				}
			}
		}
	}
	.doc-container {
		a:link, a:visited {
			color: #00608d;
			text-decoration: none;
		}
		a:hover, a:active {
			color: #00608d;
			text-decoration: underline;
		}
		// background: #880000;
		.middle-banner {
			margin: 0;
			padding: 0;
			a:link,a:visited,a:active,a:hover {
				text-decoration: none;
				color: #333;
			}
			a:active,a:hover {
				opacity: 0.8;
			}
			.middle-banner-image {
				width: 100%;
				vertical-align: bottom;
			}
			.middle-title {
				text-align: right;
				font-weight: 300;
				color: #333;
				font-family: 'Roboto', sans-serif;
				@media (max-width: 575px) {
					margin:30px;
					font-size: 52px;
				}
				@media (min-width: 576px) and (max-width: 768px) {
					margin:30px;
					font-size: 68px;
				}
				@media (min-width: 769px) and (max-width: 992px) {
					// margin:50px;
					font-size: 32px;
				}
				@media (min-width: 993px) and (max-width: 1200px) {
					// margin:50px;
					font-size: 52px;
				}
				@media (min-width: 1201px) {
					// margin-top:70px;
					font-size: 72px;
				}
			}
			.doc-list {
				font-size: 18px;
				list-style: none;
				overflow: hidden;
				padding-left: 0px !important;
				li.item {
					.eyecatch {
						width: 20px;
						height: 20px;
						object-fit: cover;
						border-radius: 50%;
						border: 1px solid #333;
					}
					.description {
						// margin-left: 50px;
						margin-top: 10px;
						font-size: 13px;
						line-height: 170%;
						padding-left: 40px;
						width: 100%;
					}
					.date {
						margin-left: 50px;
						margin-left: 10px;
						font-size: 12px;
					}
					.meta-info {
						margin-left: 50px;
						margin-bottom: 20px;
						.category {
							border: 1px solid #888;
							padding: 1px 7px;
							border-radius: 2px;
							color: #fff;
							background: #888;
							font-size: 13px;
						}
						ul.post-categories {
							display: inline-block;
							margin:0;padding:0;
							li {
								display: inline;
								border: 1px solid #888;
								padding: 1px 7px;
								border-radius: 2px;
								color: #fff;
								background: #888;
								font-size: 13px;
								margin-left:5px;
								a {
									color:#fff;
								}
							}
						}
						ul.tag {
							display: inline-block;
							margin:0;padding:0;
							li {
								display: inline;
								border: 1px solid #888;
								padding: 1px 7px;
								border-radius: 2px;
								color: #333;
								background: #f5f5f5;
								font-size: 13px;
								margin-left:5px;
							}
						}
					}
				}
			}
			.tw {
				// background: #ff0;
				img.tw-icon {
					width: 30px;
					height: 30px;
					margin-top: -6px;
				}
				.latest-twitter {
					font-size: 23px;
					line-height: 42px;
				}
			}
		}
	}
	.doc-single {
		
		.blog-area {
			//insert-image
			.blog-title {
				color: #444;
				font-weight: 300;
			}
			.blog-text {
				a:link, a:visited {
					color: #00608d;
					text-decoration: none;
				}
				a:hover, a:active {
					color: #00608d;
					text-decoration: underline;
				}
				width:100%;
				@media (min-width: 993px) and (max-width: 1200px) {width: 90%;}
				@media (min-width: 1201px) {width:90%;}
				p:first-child {
					margin-top: 0;
				}
				p {
					line-height: 25px;
					margin-top: 20px;
					margin-bottom: 20px;
					font-size: 14px;
				}
				h1 {color:#333;font-size:23px;font-weight: 300;}
				h2 {color:#333;font-size:22px;font-weight: 300;}
				h3 {color:#444;font-size:21px;font-weight: 300;}
				h4 {color:#444;font-size:20px;font-weight: 300;}
				h5 {color:#555;font-size:19px;font-weight: 300;}
				h6 {color:#555;font-size:14px;font-weight: 300;}
				// h1::before{ content: "| "; }
				// h2::before{ content: "|| "; }
				// h3::before{ content: "||| "; }
				// h4::before{ content: "|||| "; }
				// h5::before{ content: "||||| "; }
				// h6::before{ content: "|||||| "; }
				strong {
					background:linear-gradient(transparent 75%, #9eceff 75%);
				}
				del {
					color: #888;
				}
				em {
					border-bottom: 2px dashed #666;
					font-style: normal;
				}
				code {
					border: 1px solid #333;
					color: #666;
					padding: 2px 5px;
					margin:0px 2px;
					border-radius: 2px;
					background: #f5f5f5;
					font-weight: normal;
				}
				pre {
					border: 1px solid #888;
					border-radius: 3px;
					padding: 25px 20px;
					background: #f5f5f5;
					code {
						border: none;
						padding: 0;
						margin: 0;
					}
				}
				blockquote {
					// background-color: #c1c1c1;
					p {
						color: #444;
						font-size: 15px;
					}
					padding: 0px 0px 0px 24px;
					border-left: 2px solid #c1c1c1;
				}
				ul {
					list-style: circle;
					li {

					}
				}
				table {
					font-size: 13px;
					border-top: 1px solid #a9a9a9;
					border-left: 1px solid #a9a9a9;
					thead {
						th {
							border-right: 1px solid #a9a9a9;
							border-bottom: 1px solid #a9a9a9;
							padding: 3px 10px;
							font-weight: 400;
							background: #dcdcdc;
						}
					}
					tbody {
						td {
							border-right: 1px solid #a9a9a9;
							border-bottom: 1px solid #a9a9a9;
							padding: 3px 10px;
						}
					}
				}
				.insert-image {
					width: 100%;
					height: auto;
					margin-top: 10px;
					margin-bottom: 10px;
					border: 1px solid #c1c1c1;
					@media (max-width: 575px) {

					}
					@media (min-width: 576px) and (max-width: 768px) {

					}
					@media (min-width: 769px) and (max-width: 992px) {
						
					}
					@media (min-width: 993px) and (max-width: 1200px) {

					}
					@media (min-width: 1201px) {
						width: 50%;
						height: auto;
						float: left;
						margin-right: 20px;
					}
				}
			}
			.blog-footer {
				margin-bottom: 50px;
				// background: #f00;
				ul.post-categories {
					display: inline-block;
					margin:0;padding:0;
					li {
						display: inline;
						border: 1px solid #888;
						padding: 3px 10px;
						border-radius: 2px;
						color: #fff;
						background: #888;
						font-size: 13px;
						margin-left:5px;
						line-height: 144%;
						a {
							color:#fff;
							text-decoration: none;
						}
					}
				}
				ul.tag {
					display: inline-block;
					margin:0;padding:0;
					li {
						display: inline;
						border: 1px solid #888;
						padding: 3px 10px;
						border-radius: 2px;
						color: #333;
						background: #f5f5f5;
						font-size: 13px;
						margin-left:5px;
						a {
							color: #333;
							text-decoration: none;
						}
					}
				}
			}
		}
		.blog-widget {
			// background: #ff0;
			.search-widget {
				// background: #f00;
				button {
					border: 1px solid #666;
				}
				input {
					border-top: 1px solid #666;
					border-bottom: 1px solid #666;
					border-left: 1px solid #666;
				}
				input::placeholder {
					color: #c1c1c1;
					font-size: 12px;
				}
				// display: none;
			}
			ul.menu {
				margin: 0;
				padding: 0;
				padding-left: 20px;
				// background: #ff0;
				li {
					list-style: none;
					h3.widget-title {
						font-weight: 300;
						color: #333;
						font-size: 23px;
						margin-left: -16px;
					}
					.tagcloud {
						margin-bottom: 30px;
						a:link, a:visited {
							color: #000;
							text-decoration: none;
						}
						a:hover, a:active {
							color: #000;
							text-decoration: underline;
						}
					}
					ul {
						margin: 0; padding: 0;
						margin-bottom: 30px;
						li {
							a:link, a:visited {
								color: #000;
								text-decoration: none;
							}
							a:hover, a:active {
								color: #000;
								text-decoration: underline;
							}
						}
					}
				}
				li {
					// background: #ff0;
					ul {
						li {
							list-style: circle;
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
	.wp-archives {
		// background: #ff0;
		.blog-title {
			color: #444;
			font-weight: 300;
			font-size: 42px;
		}

		.wp-loop-def {
			// background: #ff0;
			ul.wp-list {
				list-style: none;
				li.wp-item {
					font-size: 17px;
					text-indent:-1.5em;
					a:link,a:visited {
						font-size: 18px;
						color: #444;
						text-decoration: none;
					}
					a:hover,a:active {
						border-bottom: 1px dashed #555;
					}
					img.eyecatch {
						width: 28px;
						height: 28px;
						object-fit: cover;
						border: 1px solid #555;
						border-radius: 50%;
					}
					.summery {
						text-indent:0;
						font-size: 14px;
					}
					.meta-info {
						// background: #ff0;
						.post-categories {
							all: initial;
							list-style: none;
							li {
								display: inline-block;
								border: 1px solid #c1c1c1;
								padding: 0px 6px;
								border-radius: 2px;
								background: #c1c1c1;
								a:link,a:visited {
									font-size: 12px;
									color: #fff;
								}
							}
						}
						.tag {
							all: initial;
							list-style: none;
							li {
								display: inline-block;
								border: 1px solid #777;
								padding: 0px 6px;
								border-radius: 2px;
								// background: #777;
								margin-right:8px;
								a:link,a:visited {
									font-size: 12px;
									// color: #fff;
								}
							}
						}
					}
				}
			}
			.page-nav {
				.navigation {
					h2 {
						display: none;
					}
					.nav-links {
						ul {
							list-style: none;
							li {
								padding: 3px 9px;
								display: inline-block;
								border: 1px solid #555;
								border-radius: 50%;
								background: #f5f5f5;
								a:link,a:visited {
									text-decoration: none;
									color: #666;
								}
							}
							li:has(> .current) {
								background: #444;
								border: 1px solid #444;
								font-weight: 400;
								color: #fff;
							}
						}

					}
				}
			}
		}
	}


	footer {
		.footer-menu {
			ul {
				li {
					list-style: none;
					a:link, a:visited {
						color: #333;
						text-decoration: none;
					}
				}
			}
		}
	}
}



